In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_excel(r"/content/drive/MyDrive/data/final_byculla_v3.xlsx")
data

,Unnamed: 0,Record ID,Land building info,cts
0,66960,IGRMHDW4TN,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1840 पार्ट, स...",NaN
1,66964,IGRMUPFR2D,"पालिकेचे नाव:इतर वर्णन :जमिन व बांधकाम , टेापी...",NaN
2,66981,IGRMX3ZMUO,पालिकेचे नाव:इतर वर्णन :डिलाईल रेाड क्रॉस लेन ...,NaN
3,67014,IGRM85KT4D,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1310, क्षेत्र...",NaN
4,67028,IGRMPZHVD6,"पालिकेचे नाव:इतर वर्णन :सदनिका नं 501, 5 वा मज...",1971 मध्दे आहे.
...,...,...,...,...
37970,894960,IGRM0ZDPCG,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1902
37971,895299,IGRMLMC8HH,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",137
37972,895334,IGRMNMCCXH,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,000
37973,895417,IGRMPON7QD,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,1910
37974,895487,IGRM1GTSO3,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1960

In [ ]:
data2 = data

In [ ]:
data2 = pd.DataFrame(data2)
data2['Land building info'] = data2['Land building info'].astype(str)

CTS Left Cleaning____**

In [ ]:
regex1 = r'सी\s+टी\s+एस\s+नं\s+' # सी टी एस नं  **
regex2 = r'सी\s+टी\s+स\s+नं\s+'  # सी टी स नं  **
regex3 = r'सि\s+टी\s+स\s+नं\s+'  # सि टी स नं  **
regex4 = r'सि\s+टी\s+एस\s+नं\s+' # सि टी एस नं  **
regex5 = r'सि\s+एस\s+नं\s+'     #  सि एस नं  **
regex6 = r'सिएस\s+नं\s+'        # सिएस नं  **
regex7 = r'सिटीएस\s+नं\s+'       # सिटीएस नं  **
regex8 = r'सिटीएस\s+नंबर\s+'     # सिटीएस नंबर  **
regex9 = r'CTS\s+Number\s+'    # CTS Number  **
regex10 = r'C.T.S. Number : (.*?);' # C.T.S. Number  **
regex11 = r'सि.टी.एस.\s+नंबर\s+'     # सि.टी.एस. नंबर  **

num_cells1 = data2["Land building info"].str.count(regex1)
num_cells2 = data2["Land building info"].str.count(regex2)
num_cells3 = data2["Land building info"].str.count(regex3)
num_cells4 = data2["Land building info"].str.count(regex4)
num_cells5 = data2["Land building info"].str.count(regex5)
num_cells6 = data2["Land building info"].str.count(regex6)
num_cells7 = data2["Land building info"].str.count(regex7)
num_cells8 = data2["Land building info"].str.count(regex8)
num_cells9 = data2["Land building info"].str.count(regex9)
num_cells10 = data2["Land building info"].str.count(regex10)
num_cells11 = data2["Land building info"].str.count(regex11)

print(num_cells1.sum())
print(num_cells2.sum())
print(num_cells3.sum())
print(num_cells4.sum())
print(num_cells5.sum())
print(num_cells6.sum())
print(num_cells7.sum())
print(num_cells8.sum())
print(num_cells9.sum())
print(num_cells10.sum())
print(num_cells11.sum())

24
1
0
8
2538
56
182
0
6
23131
177

In [ ]:
# re.search(r"(?<=C.T.S. Number).*",x))

In [ ]:
import re

def extract_cts_code10(text):

  CTS_CODE_REGEX = r"(?<=C.T.S. Number :).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code10(text)

# Print the CTS code to the console
print(cts_code)

 295/423/353,  Leave and License Months:11)

In [ ]:
data2["CTS10"] = data2['Land building info'].apply(extract_cts_code10)

data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS10"])

In [ ]:
def extract_cts_code5(text):

  CTS_CODE_REGEX = r"(?<=सि एस नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code5(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS5"] = data2['Land building info'].apply(extract_cts_code5)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS5"])

In [ ]:
data2

,Unnamed: 0,Record ID,Land building info,cts,CTS10,final_cts,CTS5
0,66960,IGRMHDW4TN,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1840 पार्ट, स...",NaN,None,"1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म...","1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म..."
1,66964,IGRMUPFR2D,"पालिकेचे नाव:इतर वर्णन :जमिन व बांधकाम , टेापी...",NaN,None,None,None
2,66981,IGRMX3ZMUO,पालिकेचे नाव:इतर वर्णन :डिलाईल रेाड क्रॉस लेन ...,NaN,None,None,None
3,67014,IGRM85KT4D,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1310, क्षेत्र...",NaN,None,"1310, क्षेत्र 90.30चौ मि जमिन व बांधकाम टोपी...","1310, क्षेत्र 90.30चौ मि जमिन व बांधकाम टोपी..."
4,67028,IGRMPZHVD6,"पालिकेचे नाव:इतर वर्णन :सदनिका नं 501, 5 वा मज...",1971 मध्दे आहे.,None,None,None
...,...,...,...,...,...,...,...
37970,894960,IGRM0ZDPCG,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1902,1902 ; ) ),1902 ; ) ),None
37971,895299,IGRMLMC8HH,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",137,137 ; ) ),137 ; ) ),None
37972,895334,IGRMNMCCXH,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,000,000 ; ) ),000 ; ) ),None
37973,895417,IGRMPON7QD,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,1910,1910 ; ) ),1910 ; ) ),None
37974,895487,IGRM1GTSO3,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1960,1960 ; ) ),1960 ; ) ),None

In [ ]:
def extract_cts_code7(text):

  CTS_CODE_REGEX = r"(?<=सिटीएस नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code7(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS7"] = data2['Land building info'].apply(extract_cts_code7)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS7"])

In [ ]:
def extract_cts_code11(text):

  CTS_CODE_REGEX = r"(?<=सि.टी.एस. नंबर).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code11(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS11"] = data2['Land building info'].apply(extract_cts_code11)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS11"])

In [ ]:
def extract_cts_code6(text):

  CTS_CODE_REGEX = r"(?<=सिएस नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code6(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS6"] = data2['Land building info'].apply(extract_cts_code6)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS6"])

In [ ]:
def extract_cts_code1(text):

  CTS_CODE_REGEX = r"(?<=सी टी एस नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code1(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS1"] = data2['Land building info'].apply(extract_cts_code1)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS1"])

In [ ]:
def extract_cts_code3(text):

  CTS_CODE_REGEX = r"(?<=सि टी स नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code3(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS3"] = data2['Land building info'].apply(extract_cts_code3)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS3"])

In [ ]:
def extract_cts_code9(text):

  CTS_CODE_REGEX = r"(?<=CTS Number).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code9(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS9"] = data2['Land building info'].apply(extract_cts_code9)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS9"])

In [ ]:
def extract_cts_code2(text):

  CTS_CODE_REGEX = r"(?<=सी टी स नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code2(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS2"] = data2['Land building info'].apply(extract_cts_code2)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS2"])

In [ ]:
def extract_cts_code4(text):

  CTS_CODE_REGEX = r"(?<=सि टी एस नं).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code4(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS4"] = data2['Land building info'].apply(extract_cts_code4)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS4"])

In [ ]:
def extract_cts_code8(text):

  CTS_CODE_REGEX = r"(?<=सिटीएस नंबर).*"
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return None

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code8(text)

# Print the CTS code to the console
print(cts_code)

None

In [ ]:
data2["CTS8"] = data2['Land building info'].apply(extract_cts_code8)

#data2 = data2.assign(final_cts=None)
data2['final_cts'] = data2['final_cts'].fillna(data2["CTS8"])

In [ ]:
data2

,Unnamed: 0,Record ID,Land building info,cts,CTS10,final_cts,CTS5,CTS7,CTS11,CTS6,CTS1,CTS3,CTS9,CTS2,CTS4,CTS8
0,66960,IGRMHDW4TN,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1840 पार्ट, स...",NaN,None,"1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म...","1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म...",None,None,None,None,None,None,None,None,None
1,66964,IGRMUPFR2D,"पालिकेचे नाव:इतर वर्णन :जमिन व बांधकाम , टेापी...",NaN,None,None,None,None,None,None,None,None,None,None,None,None
2,66981,IGRMX3ZMUO,पालिकेचे नाव:इतर वर्णन :डिलाईल रेाड क्रॉस लेन ...,NaN,None,None,None,None,None,None,None,None,None,None,None,None
3,67014,IGRM85KT4D,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1310, क्षेत्र...",NaN,None,"1310, क्षेत्र 90.30चौ मि जमिन व बांधकाम टोपी...","1310, क्षेत्र 90.30चौ मि जमिन व बांधकाम टोपी...",None,None,None,None,None,None,None,None,None
4,67028,IGRMPZHVD6,"पालिकेचे नाव:इतर वर्णन :सदनिका नं 501, 5 वा मज...",1971 मध्दे आहे.,None,- 1971 मध्दे आहे.,None,None,- 1971 मध्दे आहे.,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37970,894960,IGRM0ZDPCG,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1902,1902 ; ) ),1902 ; ) ),None,None,None,None,None,None,None,None,None,None
37971,895299,IGRMLMC8HH,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",137,137 ; ) ),137 ; ) ),None,None,None,None,None,None,None,None,None,None
37972,895334,IGRMNMCCXH,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,000,000 ; ) ),000 ; ) ),None,None,None,None,None,None,None,None,None,None
37973,895417,IGRMPON7QD,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,1910,1910 ; ) ),1910 ; ) ),None,None,None,None,None,None,None,None,None,None
37974,895487,IGRM1GTSO3,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1960,1960 ; ) ),1960 ; ) ),None,None,None,None,None,None,None,None,None,None

In [ ]:
data2.columns

Index(['Unnamed: 0', 'Record ID', 'Land building info', 'cts', 'CTS10',
       'final_cts', 'CTS5', 'CTS7', 'CTS11', 'CTS6', 'CTS1', 'CTS3', 'CTS9',
       'CTS2', 'CTS4', 'CTS8'],
      dtype='object')

In [ ]:
#data3 = data2["Land building info"]
#data3 = pd.DataFrame(data3)
#data3 = data3.assign(cts=None)
#data3["cts"] = data2["cts"]
#data3 = data3.assign(final_cts=None)
#data3["final_cts"] = data2["final_cts"]

In [ ]:
data3=data2["final_cts"]

In [ ]:
data3 = pd.DataFrame(data3)

In [ ]:
data3["final_cts"].isna().sum()

8810

CTS Right Cleaning_____**

Format Types

1) Plot Number **

2) Final Plot Number **

3) Kachara Number **

4) GAT NUMBER **

5) सि एस न **

6) Ward no **

7) Block Number  **

8) मध्दे आहे **

9) जुना

10) क्षेत्र **

In [ ]:
# trial-8 cts extraction:

import re

def remove_everything_from_character_to_end8(string: str) -> str:
  character = "मध्दे.*"

  regex = character + ".*"
  return re.sub(regex,"", string)


string = "1895 मध्दे आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end8(string)
print(result)

1895

In [ ]:
data3['final_cts'] = data3['final_cts'].astype(str)
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end8)

In [ ]:
data3

                                               final_cts
0       1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म...
1                                                   None
2                                                   None
3       1310, क्षेत्र 90.30चौ मि  जमिन व बांधकाम टोपी...
4                                                - 1971
...                                                  ...
37970                                       1902 ;  )  )
37971                                        137 ;  )  )
37972                                        000 ;  )  )
37973                                       1910 ;  )  )
37974                                       1960 ;  )  )

[37975 rows x 1 columns]

In [ ]:
# trial-7 cts extraction:

import re

def remove_everything_from_character_to_end7(string):
  character = "Block.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "222 Block Number."
result = remove_everything_from_character_to_end7(string)
print(result)

222

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end7)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS7"])

In [ ]:
# trial-6 cts extraction:

import re

def remove_everything_from_character_to_end6(string):
  character = "Ward.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "222 Ward Number ifnjkwehukfhgfgfg."
result = remove_everything_from_character_to_end6(string)
print(result)

222

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end6)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS6"])

In [ ]:
# trial-4 cts extraction:

import re

def remove_everything_from_character_to_end4(string):
  character = "GAT.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "222 GAT Number ifnjkwehukfhgfgfg."
result = remove_everything_from_character_to_end4(string)
print(result)

222

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end4)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS4"])

In [ ]:
# trial-3 cts extraction:

import re

def remove_everything_from_character_to_end3(string):
  character = "Kachara.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "222 Kachara Number ifnjkwehukfhgfgfg."
result = remove_everything_from_character_to_end3(string)
print(result)

222

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end3)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS3"])

In [ ]:
# trial-2 cts extraction:

import re

def remove_everything_from_character_to_end2(string):
  character = "Final.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "222 Final Number ifnjkwehukfhgfgfg."
result = remove_everything_from_character_to_end2(string)
print(result)

222

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end2)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS2"])

In [ ]:
# trial-1 cts extraction:

import re

def remove_everything_from_character_to_end1(string):
  character = "Plot.*"

  regex = character + ".*"
  return re.sub(regex, "", string)

string = "214     Plot Number  602,610 ifnjkwehukfhgfgfg."
result = remove_everything_from_character_to_end1(string)
print(result)

214

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end1)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS1"])

In [ ]:
# trial-10 cts extraction:

import re

def remove_everything_from_character_to_end10(string: str) -> str:
  character = "क्षेत्र.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end10(string)
print(result)

1895

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end10)

#data3['final_cts2'] = data3['final_cts2'].fillna(data3["CTS10"])

In [ ]:
#data3['final_cts2'] = data3['final_cts2'].fillna(data3["final_cts"])

In [ ]:
data3

                                               final_cts
0       1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले म...
1                                                   None
2                                                   None
3                                                 1310,
4                                                - 1971
...                                                  ...
37970                                       1902 ;  )  )
37971                                        137 ;  )  )
37972                                        000 ;  )  )
37973                                       1910 ;  )  )
37974                                       1960 ;  )  )

[37975 rows x 1 columns]

CTS Right Cleaning_____** Part 2

Format Types

11) सदनिका **

12) दुकान **

13) दस्तात **

14) फ्ल्ॅट **

15) रुम **

16) गाळा **

17) कालावधी  **

18) ;  **

19) भायखळा  **

20) of **

21) गोडाऊन **

22) गाला **

In [ ]:
# trial-11 cts extraction:

import re

def remove_everything_from_character_to_end11(string: str) -> str:
  character = "सदनिका.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end11(string)
print(result)

1895 क्षेत्र आहे. -----

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end11)

In [ ]:
# trial-12 cts extraction:

import re

def remove_everything_from_character_to_end12(string: str) -> str:
  character = "दुकान.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end12(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end12)

In [ ]:
# trial-13 cts extraction:

import re

def remove_everything_from_character_to_end13(string: str) -> str:
  character = "दस्तात.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end13(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end13)

In [ ]:
# trial-14 cts extraction:

import re

def remove_everything_from_character_to_end14(string: str) -> str:
  character = "फ्ल्ॅट.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end14(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end14)

In [ ]:
# trial-15 cts extraction:

import re

def remove_everything_from_character_to_end15(string: str) -> str:
  character = "रुम.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end15(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end15)

In [ ]:
# trial-16 cts extraction:

import re

def remove_everything_from_character_to_end16(string: str) -> str:
  character = "गाळा.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end16(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end16)

In [ ]:
# trial-17 cts extraction:

import re

def remove_everything_from_character_to_end17(string: str) -> str:
  character = "कालावधी.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,"
result = remove_everything_from_character_to_end17(string)
print(result)

1895 क्षेत्र आहे. -----सदनिका नं  15 -अे, 15 वा माळा, बेल्वेदर कोर्ट, साने गुरुजी मार्ग, महालक्ष्मी  मुं 11.-------2 कारपार्कींग सहीत नं  103 व 108,

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end17)

In [ ]:
# trial-18 cts extraction:

import re

def remove_everything_from_character_to_end18(string: str) -> str:
  character = ";.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "2/1878 ; )"
result = remove_everything_from_character_to_end18(string)
print(result)

2/1878

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end18)

In [ ]:
# trial-19 cts extraction:

import re

def remove_everything_from_character_to_end19(string: str) -> str:
  character = "भायखळा.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "2/1878 ; )"
result = remove_everything_from_character_to_end19(string)
print(result)

2/1878 ; )

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end19)

In [ ]:
# trial-20 cts extraction:

import re

def remove_everything_from_character_to_end20(string: str) -> str:
  character = "of.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "2/1878 ; )"
result = remove_everything_from_character_to_end20(string)
print(result)

2/1878 ; )

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end20)

In [ ]:
# trial-21 cts extraction:

import re

def remove_everything_from_character_to_end21(string: str) -> str:
  character = "गोडाऊन.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "2/1878 ; )"
result = remove_everything_from_character_to_end21(string)
print(result)

2/1878 ; )

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end21)

In [ ]:
# trial-22 cts extraction:

import re

def remove_everything_from_character_to_end22(string: str) -> str:
  character = "गाला.*"

  regex = character + ".*"
  return re.sub(regex,"", string)

string = "2/1878 ; )"
result = remove_everything_from_character_to_end22(string)
print(result)

2/1878 ; )

In [ ]:
data3['final_cts'] = data3['final_cts'].apply(remove_everything_from_character_to_end22)

In [ ]:
data3['final_cts'] = data3['final_cts'].str.strip()
data3['final_cts'] = data3['final_cts'].str.strip("-")
data3['final_cts'] = data3['final_cts'].str.strip(",")

In [ ]:
data4 = data2["Land building info"]
data4 = pd.DataFrame(data4)
data4 = data4.assign(final_cts=None)
data4["final_cts"] = data3["final_cts"]

In [ ]:
data4

,Land building info,final_cts
0,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1840 पार्ट, स...","1840 पार्ट, सी ओ एस एम/ ए वाय/ 38/08 भरलेले मु..."
1,"पालिकेचे नाव:इतर वर्णन :जमिन व बांधकाम , टेापी...",None
2,पालिकेचे नाव:इतर वर्णन :डिलाईल रेाड क्रॉस लेन ...,None
3,"पालिकेचे नाव:इतर वर्णन :सि एस नं 1310, क्षेत्र...",1310
4,"पालिकेचे नाव:इतर वर्णन :सदनिका नं 501, 5 वा मज...",1971
...,...,...
37970,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1902
37971,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",137
37972,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,000
37973,1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :सदनिका नं:...,1910
37974,"1)पालिकेचे नाव:मुंबई मनपाइतर वर्णन :, इतर माह...",1960

In [ ]:
from google.colab import files
# Export the DataFrame to Excel
with open('Byculla_final.xlsx', 'wb') as f:
    data4.to_excel(f, index=False)

# Download the Excel file
files.download('Byculla_final.xlsx')